<!-- <div class="sticky-top ">
  <app-navbar titlePage="Tickets Pendentes"></app-navbar>
</div> -->

<div class="container">

  <div class="columns">
    <div class="column col-12">
      <div class="jumbotron">
        <h1 class="display-4">Tickets</h1>
      </div>
      <div class="mb-2" >
        <div class="btn-group">
          <button type="button" class="btn btn-outline-primary" (click)="newTicket()">Adicionar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="columns mt-2">
    <div class="column col-12">
      <!-- <ngx-table
        [data]="tickets"
        [configuration]="configuration"
        [columns]="columns">


        <ng-template let-row>
          <td>
            <div class="font-small">{{ row.id }}</div>
          </td>
          <td>
            <span class="font-small">{{ row.assunto }}</span>
          </td>
          <td>
            <span class="font-small">{{ row.criador }}</span>
          </td>
          <td>
            <span class="font-small">{{ row.dataAbertura }}</span>
          </td>
          <td>
            <span class="font-small">{{ row.statusAtual }}</span>
          </td>
          <td>
            <div class="btn-group">
              <button class="btn btn-outline-warning btn-sm">Detalhes</button>
            </div>
          </td>
        </ng-template>


      </ngx-table> -->

      <ngx-table [data]="tickets" [configuration]="configuration" [columns]="columns"> </ngx-table>
    </div>

  </div>

</div>
