<div class="container">
  <div class="row">

    <!-- Dados do ticket -->
    <div class="col-12">
      <form class="needs-validation" novalidate="">
        <div class="row g-3">

          <!-- SETOR -->
          <div class="col-sm-6">
            <label for="lastName" class="form-label">Setor</label>
            <select class="form-select" id="country" required="">
              <option value="">Selecione...</option>
              <option>Option 1</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>

          <!-- CATEGORIA -->
          <div class="col-sm-6">
            <label for="lastName" class="form-label">Categoria</label>
            <select class="form-select" id="country" required="">
              <option value="">Selecione...</option>
              <option>Option 1</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>

          <!-- DESCRICAO DO PROBLEMA -->
          <div class="col-12">
            <label for="username" class="form-label">Descrição</label>
            <div class="input-group ">
              <!-- <span class="input-group-text">@</span> -->
              <textarea type="text" class="form-control" id="username" placeholder="Descrição do problema"
                required=""></textarea>
              <div class="invalid-feedback">
                Your username is required.
              </div>
            </div>
          </div>

          <!-- STATUS -->
          <div class="col-sm-4">
            <label for="lastName" class="form-label">Status</label>
            <select class="form-select" id="country" required="">
              <option value="">Selecione...</option>
              <option>Option 1</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>

          <!-- PRIORIDADE -->
          <div class="col-sm-4">
            <label for="lastName" class="form-label">Prioridade</label>
            <select class="form-select" id="country" required="">
              <option value="">Selecione...</option>
              <option>Option 1</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>




        </div>
        <!-- <hr class="my-4"> -->
      </form>
    </div>

    <!-- anexos -->

    <!-- comentarios -->

  </div>

</div>
