<div class="container">
  <div class="row">

    <h2>NOVO TICKET</h2>

    <!-- Dados do ticket -->
    <div class="col-12">
      <form [formGroup]="ticketForm">
        <div class="row g-3">

          <!-- SETOR -->
          <div class="col-sm-6">
            <label for="lastName" class="form-label">Setor</label>
            <select class="form-select" id="setor" formControlName="setor" required="">
              <option (click)="loadCategories()" [value]="s.id" *ngFor="let s of sectors">{{s.nome}}</option>
            </select>

            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>

          <!-- CATEGORIA -->
          <div class="col-sm-6">
            <label for="lastName" class="form-label">Categoria</label>
            <select class="form-select" id="categoria" formControlName="categoria" required="">
              <option value="{{c.id}}" *ngFor="let c of categories">{{c.nome}}</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>

          <!-- STATUS -->
          <div class="col-sm-4" *ngIf="selectStatus">
            <label for="lastName" class="form-label">Status</label>
            <select class="form-select" required="" id="status" formControlName="status">
              <option value="">Selecione...</option>
              <option>Option 1</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>

          <!-- PRIORIDADE -->
          <div class="col-sm-4" *ngIf="selectPriority">
            <label for="lastName" class="form-label">Prioridade</label>
            <select class="form-select" required="" id="prioridade" formControlName="prioridade">
              <option value="">Selecione...</option>
              <option>Option 1</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>

          <!-- ASSUNTO -->
          <div class="col-12">
            <label>Assunto</label>
            <input type="text" class="form-control" id="assunto" formControlName="assunto"  placeholder="Assunto">
          </div>

          <!-- DESCRICAO DO PROBLEMA -->
          <div class="col-12">
            <label for="username" class="form-label">Descrição do problema</label>
            <div class="input-group ">
              <!-- <span class="input-group-text">@</span> -->
              <textarea type="text" class="form-control" id="descricao" formControlName="descricao" placeholder="Descrição do problema"
                required=""></textarea>
              <div class="invalid-feedback">
                Your username is required.
              </div>
            </div>
          </div>

        </div>
        <!-- <hr class="my-4"> -->
      </form>

      <div class="row mt-2">
        <div class="col">
          <div class="btn-group">
            <button class="btn sm btn-outline-primary">
              <i class="bi bi-check"></i>
              Salvar
            </button>
            <button class="btn sm btn-outline-primary">
              <i class="bi bi-paperclip"></i>
              Anexar arquivo
            </button>
          </div>
        </div>
      </div>



    </div>

    <!-- anexos -->
    <app-attachments></app-attachments>

  </div>

</div>
