<app-load [text]="'obtendo dados...'"></app-load>

<div class="container">
  <div class="row pt-2" *ngIf="false">
    <app-alert-nada-exibir [mensagem]="'EM DESENVOLVIMENTO'" [color]="'alert-danger'"></app-alert-nada-exibir>
  </div>
</div>

<!-- <ng-template #filtroPesquisa>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Filtros</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <ul class="list-group">
      <label class="list-group-item">
        <input class="form-check-input me-1" type="checkbox" value="true" [(ngModel)]="filterDisabledSectors">
        Somente desativados
      </label>
    </ul>

    <div class="row mt-2">
      <button class="btn btn-primary" (click)="saveFilter()">Aplicar</button>
    </div>

  </div>
</ng-template> -->


<div class="container">

  <div class="row mt-2">
    <div class="col-12">
      <h2>{{ titlePage }}</h2>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-xs-6 col-sm-12 col-lg-6">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Digite aqui o que deseja procurar..." [(ngModel)]="sectorName">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="search()" *ngIf="sectorName?.length">
          <i class="bi bi-search"></i> Procurar
        </button>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="true">
    <div class="col-12">
      <div class="col-xs-6 col-sm-12 col-lg-6">
        <div class="btn-group">
          <button type="button" class="btn btn-outline-primary" (click)="new()">
            <i class="bi bi-plus-square"></i> Adicionar
          </button>
          <button type="button" class="btn btn-outline-primary" (click)="saveFilter()">
            <i class="bi bi-arrow-clockwise"></i> Atualizar
          </button>
          <!-- <button type="button" class="btn btn-outline-primary" (click)="openModal(filtroPesquisa)">
            <i class="bi bi-filter"></i> Filtro
          </button>
          <button type="button" class="btn btn-outline-primary" (click)="cleanFilters()">
            <i class="bi bi-filter"></i> Limpar filtros
          </button> -->
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2" *ngIf="sectors?.length">
    <div class="col-12">
      <ngx-table [data]="sectors" [configuration]="configuration" [columns]="columns">
        <ng-template let-row>
          <td>
            <div class="font-small">{{ row.id }}</div>
          </td>
          <td>
            <span class="font-small">{{ row.nome }}</span>
          </td>
          <td>
            <div class="btn-group">
<!--               <button class="btn btn-outline-primary btn-sm" tooltip="Ver categorias deste setor"
                (click)="goCategories(row.id)">
                <i class="bi bi-search"></i>
                Categorias
              </button> -->
              <button class="btn btn-outline-warning btn-sm" tooltip="Editar setor selecionado" (click)="edit( row.id )">
                <i class="bi bi-pencil"></i>
                Editar
              </button>
              <button class="btn btn-outline-danger btn-sm" tooltip="Excluír setor selecionado" (click)="delete(row.id)">
                <i class="bi bi-trash"></i>
                Remover
              </button>
<!--               <button class="btn btn-outline-success btn-sm" tooltip="Ativar setor" (click)="enable(row.id)"
                *ngIf="row.ativo == false">
                <i class="bi bi-toggle2-on"></i>
                Ativar
              </button>
              <button class="btn btn-outline-secondary btn-sm" tooltip="Desativar setor" (click)="disable(row.id)"
                *ngIf="row.ativo == true">
                <i class="bi bi-toggle2-off"></i>
                Desativar
              </button> -->
            </div>
          </td>
        </ng-template>
      </ngx-table>
    </div>
  </div>

  <div class="row pt-2" *ngIf="!sectors?.length">
    <app-alert [mensagem]="'Nenhum setor encontrado!'" [color]="'alert-secondary'"></app-alert>
  </div>

</div>
