
<app-load [text]="'obtendo dados...'"></app-load>
<p-confirmDialog acceptButtonStyleClass="p-button-success" rejectButtonStyleClass="p-button-warning"></p-confirmDialog>

<div class="container">
  <div class="row">
    <div class="col-12">
      <!-- TITULO DA PAGINA -->
      <div class="row mt-2 col-10">
        <h3>{{ tituloDaPagina }}</h3>
      </div>

      <!-- INPUT PARA PESQUISA -->
      <div class="row mt-2">
        <div class="col-xs-5 col-sm-10 col-lg-5">
          <div class="input-group mb-3">
            <input type="text" class="form-control form-control-sm" placeholder="Procurar..." [(ngModel)]="sectorName">
            <button class="btn btn-sm btn-outline-secondary"
                    type="button" id="button-addon2"
                    (click)="procurarPorNome()"
                    *ngIf="sectorName?.length">
              <i class="bi bi-search"></i> Procurar
            </button>
          </div>
        </div>
      </div>

      <!-- BOTOES DE ACOES -->
      <div class="row" *ngIf="true">
        <div class="col-12">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary" (click)="adicionar()" *ngIf="verificarPermissao(['Admin'])">
              <i class="bi bi-plus-lg"></i> Adicionar
            </button>
            <button type="button" class="btn btn-sm btn-outline-primary" (click)="limparFiltros()">
              <i class="bi bi-arrow-clockwise"></i> Atualizar
            </button>

            <!-- BOTAO DE FILTROS PREDEFENIDOS -->
            <div class="btn-group" *ngIf="verificarPermissao(['Admin'])">
              <button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-funnel"></i> Filtrar
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" type="button" (click)="filtrarDesativados()">Desativados</a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <a class="dropdown-item" type="button" (click)="limparFiltros()">Limpar Filtros</a>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>

      <!-- GRID / TABELA -->
      <div class="row mt-2" >
        <div class="col-12" >
          <div class="columns">
            <div class="column col-12">
              <ngx-table
                [configuration]="configuration"
                [data]="sectors"
                [columns]="columns">
              </ngx-table>
            </div>
          </div>
          <ng-template #actionTpl let-row let-rowIndex="rowIndex">
            <div class="btn-group" *ngIf="verificarPermissao(['Admin','Gerente','Suporte','Usuario'])">
                <div class="btn-group">
                  <button class="btn btn-outline-success btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Mais detalhes
                  </button>
                  <ul class="dropdown-menu">
                    <li *ngIf="verificarPermissao(['Admin','Gerente','Suporte','Usuario'])">
                      <a class="dropdown-item" type="button">Abrir chamado</a>
                    </li>
                    <li *ngIf="verificarPermissao(['Admin'])">
                      <a class="dropdown-item" type="button" (click)="editar(row.id)">Editar</a>
                    </li>
                    <li *ngIf="verificarPermissao(['Admin'])">
                      <a class="dropdown-item" type="button" (click)="ativar(row.id)" *ngIf="row.ativo == false">Ativar</a>
                    </li>
                    <li *ngIf="verificarPermissao(['Admin'])">
                      <a class="dropdown-item" type="button" (click)="desativar(row.id)"*ngIf="row.ativo == true">Desativar</a>
                    </li>
                    <li *ngIf="verificarPermissao(['Admin'])">
                      <a class="dropdown-item" type="button" (click)="excluir(row.id)">Excluir</a>
                    </li>
                    <li *ngIf="verificarPermissao(['Admin','Gerente','Suporte'])">
                      <a class="dropdown-item" type="button" (click)="consultarEquipamentos(row.id, row.ativo)">Equipamentos</a>
                    </li>
                  </ul>
                </div>
            </div>
          </ng-template>
        </div>
        <!-- AVISOS -->
        <div class="row pt-2" *ngIf="!sectors?.length">
          <app-alert [mensagem]="'Nenhum resultado encontrado!'" [color]="'alert-info'"></app-alert>
        </div>
      </div>

    </div>
  </div>
</div>
