<!-- <app-load [text]="'obtendo dados...'"></app-load> -->

<div class="container">
  <div class="row">
    <div class="col-12">

      <!-- AVISOS -->
      <div class="row pt-2" *ngIf="false">
        <app-alert [mensagem]="'Página em Desenvolvimento'" [color]="'alert-danger'"></app-alert>
      </div>

      <!-- TITULO DA PAGINA -->
      <div class="row mt-2 col-10">
        <h2>{{ tituloDaPagina }}</h2>
      </div>

      <!-- BOTOES DE ACOES -->
      <div class="row" *ngIf="true">
        <div class="col-12">
          <div class="btn-group">
            <button type="button" class="btn  btn-sm btn-outline-primary" (click)="adicionar()" *ngIf="verificarPermissao(['Admin','Gerente'])">
              <i class="bi bi-plus-lg"></i> Adicionar
            </button>
            <button type="button" class="btn  btn-sm btn-outline-primary" (click)="listarTiposDeEquipamentos(true)">
              <i class="bi bi-arrow-clockwise"></i> Atualizar
            </button>

            <!-- BOTAO DE FILTROS PREDEFENIDOS -->
            <div class="btn-group" *ngIf="verificarPermissao(['Admin','Gerente'])">
              <button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-funnel"></i> Filtrar
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" type="button" (click)="listarTiposDeEquipamentos(false)">Desativados</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" type="button" (click)="listarTiposDeEquipamentos(true)">Limpar Filtros</a></li>
              </ul>
            </div>
            
            <button type="button" class="btn btn-outline-primary" (click)="voltar()">
              <i class="bi bi-arrow-return-left"></i> Voltar
            </button>
          </div>
        </div>
      </div>


      <!-- GRID / TABELA -->
      <div class="row mt-2">
        <div class="col-12">
          <div class="columns">
            <div class="column col-12">
              <ngx-table [configuration]="configuration" [data]="tiposDeEquipamentos" [columns]="columns"> </ngx-table>
            </div>
          </div>
          <ng-template #actionTpl let-row let-rowIndex="rowIndex">
              <div class="btn-group" *ngIf="verificarPermissao(['Admin','Gerente','Suporte'])">
                <button class="btn btn-outline-success btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Mais detalhes
                </button>
                <ul class="dropdown-menu">
                  <li *ngIf="verificarPermissao(['Admin','Gerente'])">
                    <a class="dropdown-item" type="button" (click)="editar(row.id)">Editar</a>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li *ngIf="verificarPermissao(['Admin','Gerente','Suporte'])">
                    <a class="dropdown-item" type="button" (click)="equipamentos(row.id)">Equipamentos</a>
                  </li>
                </ul>
              </div>
          </ng-template>
        </div>
      </div>

    </div>
  </div>
</div>
