<div class="login-page bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <!-- <h3 class="mb-3">Login Now</h3> -->
        <div class="bg-white shadow rounded">
          <div class="row">
            <div class="col-md-7 pe-0">
              <div class="form-left h-100 py-5 px-5">

                <!-- FORMULARIO -->
                <form action="" class="row g-4">
                  <!-- EMAIL -->
                  <div class="col-12">
                    <label>Email<span class="text-danger">*</span></label>
                    <div class="input-group">
                      <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                      <input type="text" class="form-control" placeholder="Email do usuário">
                    </div>
                  </div>

                  <!-- SENHA -->
                  <div class="col-12">
                    <label>Senha<span class="text-danger">*</span></label>
                    <div class="input-group">
                      <div class="input-group-text"><i class="bi bi-lock-fill"></i></div>
                      <input type="password" class="form-control" placeholder="Senha do usuário">
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="inlineFormCheck">
                      <label class="form-check-label" for="inlineFormCheck">Lembrar-me</label>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <a href="#" class="float-end text-primary">Recuperar senha?</a>
                  </div>

                  <!-- BOTAO ENTRAR -->
                  <div class="col-sm-12">
                    <div class="d-grid gap-2">
                      <button class="btn btn-primary" type="button" (click)="entrar()">Entrar</button>
                    </div>
                  </div>

                  <hr>

                  <!-- BOTAO CRIAR NOVA CONTA -->
                  <div class="col-sm-12">
                    <div class="d-grid gap-2">
                      <button class="btn btn-success" type="button" routerLink="/login/nova-conta">Criar nova conta</button>
                    </div>
                  </div>


                  <!-- <div class="col-12">
                    <button type="submit" class="btn btn-primary px-4 float-end mt-4">login</button>
                  </div> -->
                </form>


              </div>
            </div>
            <div class="col-md-5 ps-0 d-none d-md-block">
              <div class="form-right h-100 bg-primary text-white text-center pt-5">
                <i class="bi bi-bootstrap"></i>
                <h2 class="fs-1">Bem-vindo!!!</h2>
              </div>
            </div>
          </div>
        </div>
        <p class="text-end text-secondary mt-3">v1.0 BETA</p>
      </div>
    </div>
  </div>
</div>