<p-confirmDialog acceptButtonStyleClass="p-button-success" rejectButtonStyleClass="p-button-warning"></p-confirmDialog>

<div class="container rounded bg-white mt-1 mb-5">
  <div class="row">
    <!-- IMAGEM -->
    <div class="col-md-3 border-right">
      <form [formGroup]="perfilForm">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
          <img *ngIf="perfil?.imgPerfil"
            class="rounded-circle mt-5"
            width="150px"
            [src]="perfil.imgPerfil"/>
          <span class="font-weight-bold" *ngIf="perfil?.nomeCompleto">{{perfil.nomeCompleto}}</span>
          <!-- <span class="text-black-50">@{{usuario.nome}}</span><span> </span> -->
          <label class="btn btn-primary btn-sm btn-upload" for="ImagemUpload" title="Upload image file">
            <input type="file" class="sr-only" 
                  id="ImagemUpload"
                  name="ImagemUpload"
                  #fileInput (change)="upload(fileInput.files)"
                >
            
            
            <span class="docs-tooltip" data-toggle="tooltip" data-original-title="Import image with Blob URLs">
              <strong>ATUALIZAR FOTO</strong>&nbsp;<span class="fa fa-upload"></span>
            </span>
          </label>
          <!-- <button (click)="atualizarFoto()">Carregar Foto</button> -->
        </div>
      </form>
    </div>

    <div class="col-md-8 border-right">  
    <h3>{{tituloPagina}}</h3>
      <p-tabView>
        <p-tabPanel header="Dados pessoais">
          <form [formGroup]="perfilForm">
            <div class="mt-1">
              <div class="row mt-2">
                <div class="col-md-12">
                  <label class="labels">Nome completo</label>
                  <input type="text" class="form-control" formControlName="nome"/>
                </div>
                <div class="col-md-12  mt-2">
                  <label class="labels">Telefone/Celular</label>
                  <input type="text" class="form-control" formControlName="telefone">
                </div>
                <div class="col-md-12 mt-2">
                  <label class="labels">Cidade</label>
                  <input type="text" class="form-control" formControlName="cidade">
                </div>
                <div class="col-md-6 mt-2">
                  <label class="labels">UF</label>
                  <select class="form-select" formControlName="uf">
                    <option *ngFor="let uf of estados" [value]="uf.sigla">{{ uf.nome }}</option>
                  </select>
                </div>
                <div class="col-md-6 mt-2">
                  <label class="labels">País</label>
                  <select class="form-select" formControlName="pais">
                    <option *ngFor="let pais of paises" [value]="pais.id">{{ pais.nome }}</option>
                  </select>
                </div>
              </div>

              <!-- <div class="row mt-2">
                <div class="col-md-12">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="" id="checkUsuario" formControlName="ehUsuario">
                    <label class="form-check-label" for="checkUsuario">Usuário</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="" id="checkSuporte" formControlName="ehSuporte">
                    <label class="form-check-label" for="checkSuporte">Suporte</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="" id="checkGerente" formControlName="ehGerente">
                    <label class="form-check-label" for="checkGerente">Gerente</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="" id="checkAdmin" formControlName="ehAdmin">
                    <label class="form-check-label" for="checkAdmin">Administrador</label>
                  </div>
                </div>
              </div> -->

              <div class="mt-5 text-center">
                <button class="btn btn-sm btn-outline-primary" type="button" [disabled]="!perfilForm.valid" (click)="salvar()">
                  <i class="bi bi-check"></i>
                  Salvar
                </button>
              </div>
            </div>
          </form>
        </p-tabPanel>

        <p-tabPanel header="Alterar Senha">
          <form [formGroup]="alterarSenhaForm">
            <div class="row mt-2">
              <div class="col-md-12">
                <label class="labels">Senha Atual</label>
                <input type="password" class="form-control" formControlName="senhaAtual"/>
              </div>
              <div class="col-md-12">
                <label class="labels">Nova Senha</label>
                <input type="password" class="form-control" formControlName="novaSenha"/>
              </div>
              <div class="col-md-12">
                <label class="labels">Confirmar Senha</label>
                <input type="password" class="form-control" formControlName="confirmaNovaSenha"/>
              </div>
            </div>

            <div class="mt-5 text-center">
              <button class="btn btn-sm btn-outline-primary" type="button" [disabled]="!alterarSenhaForm.valid" (click)="alterarSenha()">
                <i class="bi bi-check"></i>
                Salvar
              </button>
            </div>
          </form>
        </p-tabPanel>

        <p-tabPanel header="Dados de Usuário" *ngIf="verificarPermissao(['Admin','Gerente','Suporte']) && exibirDadosDoUsuario">
          <form [formGroup]="usuarioForm">
            <div class="mt-1">
              <div class="row">
                
                <!-- NOTIFICACOES DO SERVIDOR -->
                <div class="col-md-12" *ngIf="errosEditarUsuario?.length">
                  <div class="alert alert-danger" role="alert">
                    <!-- <h5>{{ mensagem }}</h5> -->
                    <ul *ngFor="let e of errosEditarUsuario">
                      <li><strong>{{ e.code }}</strong> - {{ e.description }}</li>
                    </ul>
                  </div>
                </div>
                

                <div class="col-md-12">
                  <fieldset disabled>
                    <label class="labels">Id Conta</label>
                    <input type="text" class="form-control" formControlName="id"/>
                  </fieldset>
                </div>
                <div class="col-md-12 mt-2">
                  <label class="labels">Login</label>
                  <input type="text" class="form-control" formControlName="username"/>
                </div>
                <div class="col-md-12 mt-2">
                  <label class="labels">Email</label>
                  <input type="text" class="form-control" formControlName="email">
                </div>
                <!-- <div class="col-md-6 mt-2">
                  <label class="labels">Tipo</label>
                  <select class="form-select" formControlName="perfil">
                    <option *ngFor="let role of roles" [value]="role.name">{{ role.name }}</option>
                  </select>
                </div> -->
              </div>

              <div class="row mt-2">
                <div class="col-md-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkBloqueado" formControlName="bloqueado">
                    <label class="form-check-label" for="checkBloqueado">Bloqueado</label>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkEmailConfirmado" formControlName="emailConf">
                    <label class="form-check-label" for="checkEmailConfirmado">Email confirmado</label>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <form [formGroup]="tipoForm">
            <div class="row mt-2">
              <div class="col-md-12">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" value="" id="checkUsuario" formControlName="ehUsuario">
                  <label class="form-check-label" for="checkUsuario">Usuário</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" value="" id="checkSuporte" formControlName="ehSuporte">
                  <label class="form-check-label" for="checkSuporte">Suporte</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" value="" id="checkGerente" formControlName="ehGerente">
                  <label class="form-check-label" for="checkGerente">Gerente</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" value="" id="checkAdmin" formControlName="ehAdmin">
                  <label class="form-check-label" for="checkAdmin">Administrador</label>
                </div>
                <!-- <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" value="" id="checkBloqueado" formControlName="bloqueado">
                  <label class="form-check-label" for="checkBloqueado">Fornecedor</label>
                </div> -->
              </div>
            </div>
          </form>

          <div class="mt-5 text-center">
            <button class="btn btn-sm btn-outline-primary" type="button" [disabled]="!perfilForm.valid" (click)="salvarTipo()">
              <i class="bi bi-check"></i>
              Salvar
            </button>
          </div>
        </p-tabPanel>

      </p-tabView>
    </div>
  </div>
</div>
