<div class="container">
  <div class="row">

    <!-- NOTIFICACOES DO SERVIDOR -->
    <div class="row mt-2" *ngIf="erros?.length">
      <div class="alert alert-danger" role="alert">
        <h5>{{ message }}</h5>
        <ul *ngFor="let e of erros">
          <li><strong>{{ e.key }}</strong> - {{ e.message }}</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <h3>{{ tituloPagina }}</h3>
    </div>

    <div class="col-sm-12">
      <form [formGroup]="sectorForm">

        <!-- ATIVO -->
        <div class="row mt-2">
          <div class="col-sm-4">
            <div class="form-check" *ngIf="true">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" formControlName="ativo">
              <label class="form-check-label" for="flexCheckDefault">
                Ativo
              </label>
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <label>Nome</label>
          <input type="text" class="form-control campo-obrigatorio" formControlName="nome"  placeholder="Exemplo: Lab01 ou Unidade IV - Lab01">

          <!-- VALIDACAO -->
          <div class="text-danger" *ngIf="nome?.errors">
            <div *ngIf="nome?.errors?.required && (nome?.dirty || nome?.touched)">Informe o nome do setor</div>
            <div *ngIf="nome?.errors?.minlength && (nome?.dirty || nome?.touched)">
              Nome deve conter no mínimo {{ nome?.errors?.minlength.requiredLength }} caracteres
            </div>
            <div *ngIf="nome?.errors?.maxlength && (nome?.dirty || nome?.touched)">
              Nome deve conter no máximo {{ nome?.errors?.maxlength.requiredLength }} caracteres
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row mt-2 text-end">
    <div class="col">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-primary" [disabled]="!sectorForm.valid" (click)="salvar()">
          <i class="bi bi-check"></i>
          Salvar
        </button>
        <button type="button" class="btn btn-sm btn-outline-danger" [routerLink]="['/labs']">
          <i class="bi bi-x"></i>
          Cancelar
        </button>
      </div>
    </div>
  </div>

</div>
<br>
