<nav class="navbar navbar-dark bg-primary sticky-top navbar-expand-md" *ngIf="true">
  <div class="container-fluid">

    <!-- BOTAO QUANDO NAVBAR ESTA COLLAPSE -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavBar"
      aria-controls="topNavBar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- MARCA OU TITULO DA NAVBAR -->
    <div class="collapse navbar-collapse justify-content-start" id="topNavBar">
      <a class="navbar-brand text-uppercase fw-bold marca">{{titlePage}}</a>
    </div>

    <!-- MENUS -->
    <div class="collapse navbar-collapse justify-content-center" id="topNavBar" *ngIf="menus">
      <ul class="navbar-nav ">
        <li class="nav-item" *ngFor="let m of modulos">
          <a class="nav-link" [routerLink]="[m.url]" routerLinkActive="active" *ngIf="m.visivel">
            <i class="{{m.icone}}"></i> {{m.titulo}}
          </a>
        </li>
      </ul>
    </div>

    <!-- DADOS PARA O USUARIO LOGADO -->
    <div class="collapse navbar-collapse justify-content-end" id="topNavBar" *ngIf="menus">
      <ul class="navbar-nav">
        <!-- <li class="nav-item">
          <a class="nav-link active" routerLinkActive="/login">
            <button type="button" class="btn btn-sm btn-outline-light position-relative">
              <i class="bi bi-bell-fill"></i>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">99+</span>
            </button>
          </a>
        </li> -->
        <!-- OPCOES DO USUARIO -->
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle ms-2" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img *ngIf="perfil?.imgPerfil"
              class="rounded-circle" 
              width="32" 
              height="32"
              alt="mdo"
              [src]="perfil.imgPerfil || 'https://github.com/mdo.png'" >
            {{usuario.nome}}
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" type="button" routerLink="/users/account">Minha Conta</a></li>
            <hr class="dropdown-divider">
            <li><a class="dropdown-item" type="button" (click)="sair()">Sair</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
