<main class="container-fluid mt-2">

    <div class="row">
        <h2>Manager</h2>
    </div>

    <div class="card mb-4" *ngIf="false">
        <div class="card-header">
            <i class="fas fa-table me-1"></i> Equipes
        </div>
        <div class="card-body">
            <!-- <app-alert [mensagem]="'Nenhuma equipe encontrada!'" [color]="'alert-secondary'"></app-alert> -->
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body">
                            Equipe de Suporte N1
                            <div class="text-end">
                                <!-- <h1>6</h1> -->
                            </div>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">Ver detalhes</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body">
                            Equipe de Suporte N2
                            <div class="text-end">
                                <!-- <h1>6</h1> -->
                            </div>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">Ver detalhes</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>Relatórios
        </div>
        <div class="card-body">
            <!-- <app-alert [mensagem]="'Sem dados para exibir'" [color]="'alert-secondary'"></app-alert> -->
            
        </div>
    </div>

    <div class="row" *ngIf="false">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    Top 5 Setores
                </div>
                <div class="card-body">
                    <!-- <canvas id="myAreaChart" width="100%" height="40"></canvas> -->
                    <app-alert [mensagem]="'Recurso em desenvolvimento!'" [color]="'alert-secondary'"></app-alert>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar me-1"></i>
                    Top 5 Usuários
                </div>
                <div class="card-body">
                    <app-alert [mensagem]="'Recurso em desenvolvimento!'" [color]="'alert-secondary'"></app-alert>
                </div>
            </div>
        </div>
    </div>

    


</main>