<h2>Home</h2>
<!-- <h3>Olá! {{usuario.nome | lowercase}}</h3>
<hr> -->


<div class="mt-2 mb-2">
    <button class="btn btn-sm btn-outline-primary" [routerLink]="'/ticket/open'">Abrir Chamado</button>
</div>

<p-tabView>
    <p-tabPanel header="Meus Chamados">
        <h4>Todas os seus chamados</h4>
    </p-tabPanel>
    <p-tabPanel header="Chamados Pendentes">
        <h4>Chamados pendentes</h4>
    </p-tabPanel>
    <p-tabPanel header="Chamados Finalizados">
        <h4>Chamados finalizados</h4>
    </p-tabPanel>
    <p-tabPanel header="Chamados Cancelados">
        <h4>Chamados cancelados</h4>
    </p-tabPanel>
</p-tabView>