<h2>Home</h2>

<!-- <div class="mt-2 mb-2">
    <button class="btn btn-sm btn-outline-primary" [routerLink]="'/ticket/open'">Abrir Chamado</button>
</div> -->

<app-meus-tickets></app-meus-tickets>

<!-- <p-tabView>
    <p-tabPanel header="Chamados Pendentes">
        <app-ticket-list [campoPesquisaVisivel]="false" [tituloVisivel]="false"></app-ticket-list>
    </p-tabPanel>
    <p-tabPanel header="Meus Chamados">
    </p-tabPanel>
    <p-tabPanel header="Chamados Finalizados">
        <app-ticket-list 
            [campoPesquisaVisivel]="false"
            [tituloVisivel]="false"
            [statusChamado]="1">
        </app-ticket-list>
    </p-tabPanel>
</p-tabView> -->
