<app-load [text]="'obtendo dados...'"></app-load>
<p-confirmDialog acceptButtonStyleClass="p-button-success" rejectButtonStyleClass="p-button-warning"></p-confirmDialog>

<div class="container">
  <div class="row">
    <div class="col-12">
      <!-- TITULO DA PAGINA -->
      <div class="row mt-2 col-10" *ngIf="tituloVisivel">
        <h2>{{ tituloDaPagina }}</h2>
      </div>

      <!-- INPUT PARA PESQUISA -->
      <!-- <div class="row mt-2" *ngIf="campoPesquisaVisivel">
        <div class="col-xs-5 col-sm-10 col-lg-5">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Procurar..." [(ngModel)]="descricao">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="search()"
              *ngIf="descricao?.length">
              <i class="bi bi-search"></i> Procurar
            </button>
          </div>
        </div>
      </div> -->

      <form [formGroup]="filtroForm" *ngIf="campoPesquisaVisivel">
        <div class="row row-cols-lg-auto g-3 align-items-center" *ngIf="verificarPermissao(['Admin','Gerente','Suporte','Usuario'])">
          <div class="col-12">
            <div class="btn-group ">
              <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-funnel"></i> {{ nomeBotaoFiltro }}
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" type="button" (click)="filtrarPor(1)">Padrão</a></li>
                <li><a class="dropdown-item" type="button" (click)="filtrarPor(2)">Por Laboratório</a></li>
                <li><a class="dropdown-item" type="button" (click)="filtrarPor(3)">Por Tipo</a></li>
                <li><a class="dropdown-item" type="button" (click)="filtrarPor(4)">Por Descrição</a></li>
                <li><a class="dropdown-item" type="button" (click)="filtrarPor(5)">Por Solução</a></li>
                <li><a class="dropdown-item" type="button" (click)="filtrarPor(6)">Por Criador</a></li>
                <li><a class="dropdown-item" type="button" (click)="filtrarPor(7)">Por Prioridade</a></li>
                <li><a class="dropdown-item" type="button" (click)="filtrarPor(8)">Por Status</a></li>
                <li><a class="dropdown-item" type="button" (click)="filtrarPor(9)">Por Operador</a></li>

                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" type="button" (click)="limparFiltros()">Limpar Filtros</a></li>
              </ul>
            </div>
          </div>

          <div class="col-6" *ngIf="verComboboxSetores">
              <select class="form-select form-select-sm" formControlName="setor" [ngModel]="0">
                <option value='0' disabled>Selecione o laboratório</option>
                <option *ngFor="let setor of setores" [value]="setor.id">{{ setor.nome }}</option>
              </select>
          </div>

          <div class="col-6" *ngIf="verComboboxTipos">
              <select class="form-select form-select-sm" formControlName="tipo" [ngModel]="0">
                <option value='0' disabled>Selecione o tipo</option>
                <option value="1">Publico</option>
                <option value="2">Interno</option>
              </select>
          </div>
          <div class="col-12 col-sm-10" *ngIf="campo_pesquisa">
            <input type="text" class="form-control form-control-sm" formControlName="texto"
                  placeholder="assunto, descrição, solução...">
          </div>

          <div class="col-6" *ngIf="verComboboxCriadores">
            <select class="form-select form-select-sm" formControlName="criador" [ngModel]="0">
              <option value='0' disabled>Selecione o criador</option>
              <option *ngFor="let chamado of chamados" [value]="chamado.criador.id">{{ chamado.criador.nome }}</option>
            </select>
          </div>

          <div class="col-6" *ngIf="verComboboxPrioridades">
            <select class="form-select form-select-sm" formControlName="prioridade" [ngModel]="0">
              <option value='0' disabled>Selecione a prioridade</option>
              <option value="0">Baixa</option>
              <option value="1">Normal</option>
              <option value="2">Alta</option>
              <option value="3">Urgente</option>
            </select>
          </div>

          <div class="col-6" *ngIf="verComboboxStatus">
            <select class="form-select form-select-sm" formControlName="status" [ngModel]="0">
              <option value='0' disabled>Selecione o status</option>
              <option value="1">Novo</option>
              <option value="2">Pendente</option>
              <option value="3">EmAtendimento</option>
              <option value="4">Finalizado</option>
              <option value="5">Cancelado</option>
              <option value="6">Fechado</option>
              <option value="7">Reaberto</option>
            </select>
          </div>

          <div class="col-6" *ngIf="verComboboxOperadores">
            <select class="form-select form-select-sm" formControlName="operador" [ngModel]="0">
              <option value='0' disabled>Selecione o operador</option>
              <option *ngFor="let chamado of chamados" [value]="chamado.operador?.id">{{ chamado.operador?.nome }}</option>
            </select>
          </div>
  
          <div class="col-6">
            <button class="btn btn-sm btn-outline-secondary" type="button" (click)="procurar()">
              <i class="bi bi-search"></i> Procurar
            </button>
          </div>

        </div>
      </form>
      <!-- BOTOES DE ACOES -->
      <div class="row mt-2" *ngIf="true">
        <div class="col-12">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary" (click)="newTicket()" *ngIf="verificarPermissao(['Admin','Gerente','Suporte','Usuario'])">
              <i class="bi bi-plus-lg"></i> Novo chamado
            </button>
            <button type="button" class="btn btn-sm btn-outline-primary" (click)="cleanFilters()">
              <i class="bi bi-arrow-clockwise"></i> Atualizar
            </button>
          </div>
        </div>
      </div>


      <!-- GRID / TABELA -->
      <div class="row mt-2">
        <div class="col-12">
          <div class="columns">
            <div class="column col-12">
              <ngx-table [configuration]="configuration" [data]="chamados" [columns]="columns"> </ngx-table>
            </div>
          </div>
          <ng-template #actionTpl let-row let-rowIndex="rowIndex">
            <div class="btn-group" *ngIf="verificarPermissao(['Admin','Gerente','Suporte','Usuario'])">
              <button class="btn btn-outline-success btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Mais detalhes
              </button>
              <ul class="dropdown-menu">
                <li *ngIf="verificarPermissao(['Admin','Gerente','Suporte','Usuario'])">
                  <a class="dropdown-item" type="button">Visualizar</a>
                </li>
                <li *ngIf="verificarPermissao(['Admin','Gerente','Suporte'])">
                  <a class="dropdown-item" type="button" (click)="edit(row.id)">Editar</a>
                </li>
                <li *ngIf="verificarPermissao(['Admin','Gerente'])">
                  <a class="dropdown-item" type="button" (click)="delete(row.id)">Excluir</a>
                </li>
                <li *ngIf="verificarPermissao(['Admin','Gerente','Suporte'])">
                  <a class="dropdown-item" type="button" (click)="edit(row.id)">Detalhes</a>
                </li>
              </ul>
            </div>
          </ng-template>
        </div>
      </div>

    </div>
  </div>
</div>
