
<div class="container">
  <div class="col-md-10 mx-auto col-lg-5 pt-5">
    <form class="p-4 p-md-5 border rounded-3 bg-light" [formGroup]="ativarForm">

      <h1 class="h3 mb-3 fw-normal">Ativar Usuário</h1>

      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" formControlName="email">
        <label for="floatingInput">Email</label>
      </div>

      
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" formControlName="codigo">
        <label for="floatingInput">Código recebido por email</label>
      </div>

      <button class="w-100 btn btn-lg btn-primary" (click)="validar()" [disabled]="!ativarForm.valid">Prosseguir</button>
      <hr class="my-4">

      <div class="text-center">
        <small class="text-muted">Não tem uma conta? </small><a routerLink="/auth/register">Crie uma!</a>
        <br>
        <button class="btn btn-sm btn-outline-secondary" (click)="solicitarCodigo()">Solicitar novo código</button>
      </div>
    </form>
  </div>

</div>
