<div class="container">
    <div class="row">

        <div class="row mt-2">
            <p-tabView>

                <p-tabPanel header="Chamados Atribuídos" *ngIf="false" >
                    <div class="row mt-2">
                        <div class="col-12">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-primary" (click)="abrirChamado()">
                                    <i class="bi bi-plus-lg"></i> Novo chamado
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12">
                            <div class="columns">
                                <div class="column col-12" *ngIf="chamadosAtribuidos?.length">
                                    <ngx-table [configuration]="configuration" [data]="chamadosAtribuidos" [columns]="columns"> </ngx-table>
                                </div>
                            </div>
                            <ng-template #actionTpl let-row let-rowIndex="rowIndex">
                                <button type="button" class="btn btn-sm btn-outline-primary">
                                    Detalhes
                                </button>
                            </ng-template>
                        </div>
                        <!-- AVISOS -->
                        <div class="row pt-2" *ngIf="!chamadosAtribuidos?.length">
                            <app-alert [mensagem]="'Nenhum chamado aberto foi encontrado!'" [color]="'alert-info'"></app-alert>
                        </div>
                    </div>
                </p-tabPanel>

                <p-tabPanel header="Chamados Pendentes" *ngIf="false">
                    <div class="row mt-2">
                        <div class="col-12">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-primary" (click)="abrirChamado()">
                                    <i class="bi bi-plus-lg"></i> Novo chamado
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12">
                            <div class="columns">
                                <div class="column col-12" *ngIf="chamadosPendentes?.length">
                                    <ngx-table [configuration]="configuration" [data]="chamadosPendentes" [columns]="columns"> </ngx-table>
                                </div>
                            </div>
                            <ng-template #actionTpl let-row let-rowIndex="rowIndex">
                                <button type="button" class="btn btn-sm btn-outline-primary">
                                    Detalhes
                                </button>
                            </ng-template>
                        </div>
                        <!-- AVISOS -->
                        <div class="row pt-2" *ngIf="!chamadosPendentes?.length">
                            <app-alert [mensagem]="'Nenhum chamado aberto foi encontrado!'" [color]="'alert-info'"></app-alert>
                        </div>
                    </div>
                </p-tabPanel>

                <p-tabPanel header="Meus Chamados">
                
                    <div class="row mt-2">
                        <div class="col-12">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-primary" (click)="abrirChamado()">
                                    <i class="bi bi-plus-lg"></i> Novo chamado
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-funnel"></i> Filtro: {{ nomeBotaoFiltro }}
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" type="button" (click)="nomeBotaoFiltro = 'Novos'" (click)="listarMeusChamados(1)">Novo</a></li>
                                    <li><a class="dropdown-item" type="button" (click)="nomeBotaoFiltro = 'Pendentes'" (click)="listarMeusChamados(2)">Pendente</a></li>
                                    <li><a class="dropdown-item" type="button" (click)="nomeBotaoFiltro = 'Finalizados'" (click)="listarMeusChamados(4)">Finalizado</a></li>
                                    <li><a class="dropdown-item" type="button" (click)="nomeBotaoFiltro = 'Cancelados'" (click)="listarMeusChamados(5)">Cancelado</a></li>
                                    <li><a class="dropdown-item" type="button" (click)="nomeBotaoFiltro = 'Todos'" (click)="listarMeusChamados(0)">Todos</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12">
                            <div class="columns">
                                <div class="column col-12" *ngIf="chamados?.length">
                                    <ngx-table [configuration]="configuration" [data]="chamados" [columns]="columns"> </ngx-table>
                                </div>
                            </div>
                            <ng-template #actionTpl let-row let-rowIndex="rowIndex">
                                <button type="button" class="btn btn-sm btn-outline-primary" (click)="verDetalhes(row.id)">
                                    Detalhes
                                </button>
                            </ng-template>
                        </div>
                        <!-- AVISOS -->
                        <div class="row pt-2" *ngIf="!chamados?.length">
                            <app-alert [mensagem]="'Nenhum chamado encontrado!'" [color]="'alert-info'"></app-alert>
                        </div>
                    </div>

                </p-tabPanel>


                <p-tabPanel header="Chamados Finalizados" *ngIf="false">

                    <div class="row mt-2">
                        <div class="col-12">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-primary" (click)="abrirChamado()">
                                    <i class="bi bi-plus-lg"></i> Novo chamado
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12">
                            <div class="columns">
                                <div class="column col-12" *ngIf="chamadosFinalizados?.length">
                                    <ngx-table [configuration]="configuration" [data]="chamadosFinalizados" [columns]="columns"> </ngx-table>
                                </div>
                            </div>
                            <ng-template #actionTpl let-row let-rowIndex="rowIndex">
                                <button type="button" class="btn btn-sm btn-outline-primary">
                                    Detalhes
                                </button>
                            </ng-template>
                        </div>
                        <!-- AVISOS -->
                        <div class="row pt-2" *ngIf="!chamadosFinalizados?.length">
                            <app-alert [mensagem]="'Nenhum chamado finalizado foi encontrado!'" [color]="'alert-info'"></app-alert>
                        </div>
                    </div>

                </p-tabPanel>
            </p-tabView>
        </div>

    </div>
</div>

<p-dialog 
    header="Detalhes do chamado #{{chamado}}"
    [(visible)]="detalhesDialog"
    [style]="{width: '70vw'}"
    [modal]="true"
    [resizable]="false"
    [maximizable]="true"
    *ngIf="chamado > 0">
    <app-ticket-form [chamadoId]="chamado" [bloquearEdicao]="true" [naoExibir]="true"></app-ticket-form>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="detalhesDialog=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
