<app-load [text]="'obtendo dados...'"></app-load>

<div class="container">
  <div class="row">
    <div class="col-12">

      <!-- BOTOES DE ACOES -->
      <div class="row" *ngIf="true">
        <div class="col-12">
          <div class="btn-group">
            <button type="button" class="btn btn-outline-primary" (click)="new()">
              <i class="bi bi-plus-lg"></i> Adicionar
            </button>
            <button type="button" class="btn btn-outline-primary" (click)="saveFilter()">
              <i class="bi bi-arrow-clockwise"></i> Atualizar
            </button>

            <!-- BOTAO DE FILTROS PREDEFENIDOS -->
            <div class="btn-group">
              <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-funnel"></i> Filtrar
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" type="button" (click)="equipInativos()">Desativados</a></li>
                <li><a class="dropdown-item" type="button" (click)="cleanFilters()">Por Tipo</a></li>
                <li><a class="dropdown-item" type="button" (click)="cleanFilters()">Por Marca</a></li>
                <li><a class="dropdown-item" type="button" (click)="cleanFilters()">Por Modelo</a></li>
                <li><a class="dropdown-item" type="button" (click)="cleanFilters()">Por Setor</a></li>
                <li><a class="dropdown-item" type="button" (click)="cleanFilters()">Por Fabricante</a></li>
                <li><a class="dropdown-item" type="button" (click)="cleanFilters()">Por Serial</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" type="button" (click)="cleanFilters()">Limpar Filtros</a></li>
              </ul>
            </div>

            <button type="button" class="btn btn-outline-primary" (click)="saveFilter()">
              <i class="bi bi-pc-display"></i> Tipos de Equipamentos
            </button>
          </div>
        </div>
      </div>

      <!-- AVISOS -->
      <div class="row pt-2" *ngIf="false">
        <app-alert [mensagem]="'Página em Desenvolvimento'" [color]="'alert-danger'"></app-alert>
      </div>

      <!-- TITULO DA PAGINA -->
      <div class="row mt-2 col-10">
        <h2>{{ tituloDaPagina }}</h2>
      </div>

      <!-- INPUT PARA PESQUISA -->
      <div class="row mt-2">
        <div class="col-xs-5 col-sm-10 col-lg-5">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Procurar..." [(ngModel)]="equipmentName">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="search()"
              *ngIf="equipmentName?.length">
              <i class="bi bi-search"></i> Procurar
            </button>
          </div>
        </div>
      </div>

      <!-- GRID / TABELA -->
      <div class="row mt-2">
        <div class="col-12">
          <div class="columns">
            <div class="column col-12">
              <ngx-table [configuration]="configuration" [data]="equipments" [columns]="columns"> </ngx-table>
            </div>
          </div>
          <ng-template #actionTpl let-row let-rowIndex="rowIndex">
            <div class="btn-group">
              <div class="btn-group">
                <button class="btn btn-outline-success btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Mais detalhes
                </button>              
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" type="button" (click)="edit(row.id)">Editar</a></li>
                  <li><a class="dropdown-item" type="button" (click)="delete(row.id)">Excluir</a></li>
                  <li><a class="dropdown-item" type="button" (click)="ativar(row.id)">Ativar</a></li>
                  <li><a class="dropdown-item" type="button" (click)="desativar(row.id)">Desativar</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" type="button" (click)="cleanFilters()">Detalhes</a></li>
                </ul>
              </div>
              
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>