<div class="login-page bg-light">
    <div class="container">
        <div class="row">
            <div class="form-signin w-100 m-auto">
                <div class="bg-white shadow rounded">
                    <div class="row">
                        <div class="col-md-12 pe-0">
                            <div class="form-left h-100 py-5 px-5">

                                <div class="row">
                                    <h3>Alterar senha</h3>
                                </div>

                                <form [formGroup]="novaSenhaForm" class="row g-4">
                                    <div class="col-12">
                                        <label>Nova senha<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-text">
                                                <i class="bi bi-person-fill"></i>
                                            </div>
                                            <input type="password" class="form-control" formControlName="senha"
                                                id="senha">
                                        </div>

                                        <!-- VALIDACAO -->
                                        <div class="text-danger" *ngIf="senha?.errors">
                                            <div *ngIf="senha?.errors?.pattern && (senha?.dirty || senha?.touched)">
                                                <ul>
                                                    <li>Senha deve ter entre 6 e 50 caracteres</li>
                                                    <li>Incluír pelo menos 1 número</li>
                                                    <li>1 letra maiúscula</li>
                                                    <li>1 letra minúscula</li>
                                                    <li>1 caracter especial</li>
                                                </ul>
                                                
                                                 
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-12">
                                        <label>Confirmar nova senha<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                            <input type="password" class="form-control" formControlName="confirmarSenha"
                                                id="confirmarSenha">
                                        </div>

                                        <!-- VALIDACAO -->
                                        <div class="text-danger" *ngIf="confirmarSenha?.errors">
                                            <div *ngIf="confirmarSenha?.errors?.equalsTo && (confirmarSenha?.dirty || confirmarSenha?.touched)">
                                                <ul>
                                                    <li>Senha não é igual</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- BOTAO ENTRAR -->
                                    <div class="col-sm-12">
                                        <div class="d-grid gap-2">
                                            <button class="btn btn-primary" type="button">
                                                Confirmar
                                            </button>
                                        </div>
                                    </div>

                                    <!-- <p class="text-center text-danger" *ngIf="mensagem?.length">
<strong>{{mensagem}}</strong>
</p> -->
                                    <hr>
                                    <p class="text-center">Voltar para <a class="text-primary">Login</a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-end text-secondary mt-3">v1.0 BETA</p>
            </div>
        </div>
    </div>
</div>