<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">

    <a class="navbar-brand">
      <img src="../../../assets/logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      {{titlePage}}
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/companies">Empresas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/sectors" >Setores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tickets">Tickets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users">Usuários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/settings">Ajustes</a>
        </li>
      </ul>
    </div>




  </div>
</nav>
