<div class="sticky-top ">
  <app-navbar [menus]="false"></app-navbar>
</div>

<div class="container">
  <div class="row mt-2">
    <div class="col-md-6" style="margin: 0 auto;">

      <form [formGroup]="userForm">
        <h1>Seja bem vindo!</h1>
        <h5>Novo usuário</h5>
        <hr><br>

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <label style="font-size: 16px" for="Nome">Nome</label>
              <input placeholder="Nome" autocomplete="off" class="form-control" type="text" id="nome" formControlName="nome">
            </div>

            <!-- validacao -->
            <div class="text-danger" *ngIf="nome?.errors">
              <div *ngIf="nome?.errors?.required && (nome?.dirty || nome?.touched)">Informe seu nome</div>

              <div *ngIf="nome?.errors?.minlength && (nome?.dirty || nome?.touched)">
                Nome deve conter no mínimo {{nome?.errors?.minlength.requiredLength}} caracteres
              </div>

              <div *ngIf="nome?.errors?.maxlength && (nome?.dirty || nome?.touched)">
                Nome deve conter no máximo {{nome?.errors?.maxlength.requiredLength}} caracteres
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <label style="font-size: 16px" for="Nome">Sobrenome</label>
              <input placeholder="Sobrenome" autocomplete="off" class="form-control" type="text" id="sobrenome" formControlName="sobrenome">
            </div>

            <!-- validacao -->
            <div class="text-danger" *ngIf="sobrenome?.errors">
              <div *ngIf="sobrenome?.errors?.required && (sobrenome?.dirty || sobrenome?.touched)">Informe seu sobrenome</div>

              <div *ngIf="sobrenome?.errors?.minlength && (sobrenome?.dirty || sobrenome?.touched)">
                Sobrenome deve conter no mínimo {{sobrenome?.errors?.minlength.requiredLength}} caracteres
              </div>

              <div *ngIf="sobrenome?.errors?.maxlength && (sobrenome?.dirty || nome?.touched)">
                Sobrenome deve conter no máximo {{sobrenome?.errors?.maxlength.requiredLength}} caracteres
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label style="font-size: 16px" for="Email">E-mail</label>
            <input placeholder="Ex: email@email.com" autocomplete="off" class="form-control" type="email" id="email" formControlName="email">
          </div>

          <!-- validacao -->
          <div class="text-danger" *ngIf="email?.errors">
            <div *ngIf="email?.errors?.required && (email?.dirty || email?.touched)">Informe seu Email</div>

            <div *ngIf="email?.errors?.minlength && (email?.dirty || email?.touched)">
              Email deve conter no mínimo {{email?.errors?.minlength.requiredLength}} caracteres
            </div>

            <div *ngIf="email?.errors?.maxlength && (email?.dirty || email?.touched)">
              Email deve conter no máximo {{email?.errors?.maxlength.requiredLength}} caracteres
            </div>

            <div *ngIf="email?.errors?.email">
              Email inválido!
            </div>
          </div>

        </div>

        <div class="row">
          <div class="form-group">
            <label style="font-size: 16px" for="Email">Login</label>
            <input placeholder="" autocomplete="off" class="form-control" type="text" id="login" formControlName="login">
          </div>

          <!-- validacao -->
          <div class="text-danger" *ngIf="login?.errors">
            <div *ngIf="login?.errors?.required && (login?.dirty || login?.touched)">Informe seu login</div>

            <div *ngIf="login?.errors?.minlength && (login?.dirty || login?.touched)">
              Login deve conter no mínimo {{login?.errors?.minlength.requiredLength}} caracteres
            </div>

            <div *ngIf="login?.errors?.maxlength && (login?.dirty || login?.touched)">
              Login deve conter no máximo {{login?.errors?.maxlength.requiredLength}} caracteres
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <label style="font-size: 16px" for="Password">Senha</label>
              <input autocomplete="off" class="form-control" type="password" id="password" formControlName="password">
            </div>

            <!-- validacao -->
            <div class="text-danger" *ngIf="senha?.errors">
              <div *ngIf="senha?.errors?.required && (senha?.dirty || senha?.touched)">Informe sua senha</div>

              <div *ngIf="senha?.errors?.minlength && (senha?.dirty || senha?.touched)">
                Senha deve conter no mínimo {{senha?.errors?.minlength.requiredLength}} caracteres
              </div>

              <div *ngIf="senha?.errors?.maxlength && (senha?.dirty || nome?.touched)">
                Senha deve conter no máximo {{senha?.errors?.maxlength.requiredLength}} caracteres
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <label style="font-size: 16px" for="ConfirmPassword">Confirme a Senha</label>
              <input autocomplete="off" class="form-control" type="password" id="confirmPassword" formControlName="confirmPassword">
            </div>
            <!-- validacao -->
            <div class="text-danger" *ngIf="confirSenha?.errors">
              <div *ngIf="confirSenha?.errors?.required && (confirSenha?.dirty || confirSenha?.touched)">Informe novamente sua senha</div>

              <div *ngIf="confirSenha?.errors?.minlength && (confirSenha?.dirty || confirSenha?.touched)">
                Senha deve conter no mínimo {{confirSenha?.errors?.minlength.requiredLength}} caracteres
              </div>

              <div *ngIf="confirSenha?.errors?.maxlength && (confirSenha?.dirty || nome?.touched)">
                Senha deve conter no máximo {{confirSenha?.errors?.maxlength.requiredLength}} caracteres
              </div>
            </div>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="d-grid gap-2">
            <button class="btn btn-primary" [disabled]="!userForm.valid" (click)="save()">Registrar</button>
            <button class="btn btn-outline-secondary">Cancelar</button>
          </div>
        </div>

      </form>

      <!-- MOSTRAR NOTIFICACOES DO BACKEND -->
      <div class="row mt-2" *ngIf="erros?.length">
        <div class="alert alert-danger" role="alert">
          <h5>{{message}}</h5>
          <ul *ngFor="let e of erros">
            <li><strong>{{e.key}}</strong> - {{e.message}}</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
