<div class="sticky-top ">
  <app-navbar [menus]="false"></app-navbar>
</div>

<div class="container">
  <div class="row mt-2">
    <div class="col-md-6" style="margin: 0 auto;">

      <form >
        <h1>Seja bem vindo!</h1>
        <h5>Novo usuário</h5>
        <hr><br>

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <label style="font-size: 16px" for="Nome">Nome</label>
              <input placeholder="Nome" autocomplete="off" class="form-control" type="text" id="Nome" name="nome">
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <label style="font-size: 16px" for="Nome">Sobrenome</label>
              <input placeholder="Sobrenome" autocomplete="off" class="form-control" type="text" id="sobrenome" name="sorenome">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label style="font-size: 16px" for="Email">E-mail</label>
            <input placeholder="Ex: email@email.com" autocomplete="off" class="form-control" type="email" id="Email" name="Email">
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label style="font-size: 16px" for="Email">Login</label>
            <input placeholder="" autocomplete="off" class="form-control" type="text" id="login" name="login">
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <label style="font-size: 16px" for="Password">Senha</label>
              <input autocomplete="off" class="form-control" type="password" id="password" name="password">
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <label style="font-size: 16px" for="ConfirmPassword">Confirme a Senha</label>
              <input autocomplete="off" class="form-control" type="password" id="confirmPassword" name="confirmPassword">
            </div>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="d-grid gap-2">
            <button class="btn btn-primary">Registrar</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
