<!-- <div class="container"> -->

  <!-- <div class="pt-2 pb-2 row" *ngIf="true">
    <div class="col-12">
      <div class="btn-group">
        <button type="button" class="btn btn-outline-primary">
          <i class="bi bi-arrow-left"></i>
          Voltar
        </button>
      </div>
    </div>
  </div> -->


  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="pb-4 mb-0">Anexos</h6>

    <div class="mb-3">
      <label for="formFileMultiple" class="form-label">Selecione os arquivos</label>
      <input class="form-control" type="file" id="formFileMultiple" multiple>
    </div>

    <!-- <div class="mb-3">
      <label for="formFile" class="form-label">Default file input example</label>
      <input class="form-control" type="file" id="formFile">
    </div>

    <div class="mb-3">
      <label for="formFile" class="form-label">Default file input example</label>
      <input class="form-control" type="file" id="formFile">
    </div>

    <div class="mb-3">
      <label for="formFile" class="form-label">Default file input example</label>
      <input class="form-control" type="file" id="formFile">
    </div>

    <div class="mb-3">
      <label for="formFile" class="form-label">Default file input example</label>
      <input class="form-control" type="file" id="formFile">
    </div>



 -->

  </div>


<!-- </div>
 -->