<app-navbar></app-navbar>

<div class="container">

  <section class="row">
    <h1 class="col-12 mb-3" style="font-size: 3em;">Empresas</h1>
  </section>

  <div class="row">
    <div class="col">
      <div class="btn-group">
        <button type="button" class="btn btn-outline-primary">Adicionar</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-2 pt-2">
      <form class="text-center">
        <div class="form-group">
          <select class="form-select" aria-label="Default select example">
            <option selected>Procurar por</option>
            <option value="2">Que contenha</option>
          </select>
        </div>
      </form>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 pt-2">
      <form class="text-center">
        <div class="form-group">
          <input class="form-control" placeholder="Pesquisar">
        </div>
      </form>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-4 pt-2 d-grid">
      <button class="btn btn-primary">Buscar</button>
    </div>
  </div>

  <hr>

  <!-- <div class="row">
    <div class="col d-grid">
      <div class="btn-group">
        <button class="btn btn-outline-secondary" routerLink="new">Novo</button>
        <button class="btn btn-outline-secondary">Exportar</button>
        <button class="btn btn-outline-secondary">Filtrar</button>
      </div>
    </div>
  </div>

  <hr> -->

  <!-- fazer um componente para reaproveitar o codigo nas demais paginas de listagens -->
  <app-alert-nada-exibir></app-alert-nada-exibir>

  <div class="row">

    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Razão Social</th>
            <th scope="col">Nome Fantasia</th>
            <th scope="col">Cidade</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>#24554</td>
            <td>
              <a href="">WN Sistemas de Informação Ltda</a>
            </td>
            <td>WN Software</td>
            <td>Nova Veneza -SC</td>
          </tr>

          <tr>
            <td>#24554</td>
            <td>
              <a href="">Logaritma Tecnologia Ltda.</a>
            </td>
            <td>Loglabs Brasil</td>
            <td>Nova Veneza -SC</td>
          </tr>
          <tr>
            <td>#24554</td>
            <td>
              <a href="">Sensor Sistemas Ltda-ME</a>
            </td>
            <td>SENSOR Software</td>
            <td>Nova Veneza -SC</td>
          </tr>
          <tr>
            <td>#24554</td>
            <td>
              <a href="">Invent Assessoria Ltda.</a>
            </td>
            <td>Invent Contagem de Estoques</td>
            <td>Nova Veneza -SC</td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>

</div>
