<app-navbar></app-navbar>

<div class="container">

  <section class="row">
    <h1 class="col-12 mb-3" style="font-size: 3em;">Empresas</h1>
  </section>

  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-2 pt-2">
      <form class="text-center">
        <div class="form-group">
          <select class="form-select" aria-label="Default select example">
            <option selected>Procurar por</option>
            <option value="2">Que contenha</option>
          </select>
        </div>
      </form>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 pt-2">
      <form class="text-center">
        <div class="form-group">
          <input class="form-control" placeholder="Pesquisar">
        </div>
      </form>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-4 pt-2 d-grid">
      <button class="btn btn-primary">Buscar</button>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col d-grid">
      <div class="btn-group">
        <button class="btn btn-outline-secondary" routerLink="new">Novo</button>
        <button class="btn btn-outline-secondary">Exportar</button>
        <button class="btn btn-outline-secondary">Filtrar</button>
      </div>
    </div>
  </div>

  <hr>

  <!-- fazer um componente para reaproveitar o codigo nas demais paginas de listagens -->
  <div class="alert alert-secondary" role="alert">
    Nenhum registro encontrado!
  </div>

</div>
