<div class="sticky-top ">
  <app-navbar></app-navbar>
</div>

<div class="container">

  <section class="row">
    <h2 class="col-12">Empresas</h2>
  </section>

  <div class="row pt-2" *ngIf="true">
    <div class="col">
      <div class="btn-group">
        <button type="button" class="btn btn-outline-primary" (click)="newCompany()">Adicionar</button>
      </div>
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-sm-12 col-md-6 col-lg-2 pt-1">
      <form class="text-center">
        <div class="form-group">
          <select class="form-select" aria-label="Default select example">
            <option selected>Procurar por</option>
            <option value="2">Que contenha</option>
          </select>
        </div>
      </form>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 pt-1">
      <form class="text-center">
        <div class="form-group">
          <input class="form-control" placeholder="Pesquisar">
        </div>
      </form>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-4 pt-1 d-grid">
      <button class="btn btn-primary">Buscar</button>
    </div>
  </div>

  <div class="row pt-2" *ngIf="!companies?.length">
    <app-alert-nada-exibir></app-alert-nada-exibir>
  </div>

  <div class="row pt-2">
    <div class="table-responsive">
      <table class="table table-sm table-hover" *ngIf="companies?.length">
        <thead class="thead-light">
          <th scope="col">Opções</th>
          <th scope="col">ID</th>
          <th scope="col">Razão Social</th>
          <th scope="col">Nome Fantasia</th>
          <th scope="col">Email</th>
        </thead>
        <tbody>
          <tr *ngFor="let company of companies | paginate: { itemsPerPage: contador, currentPage: pag }">
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"
                        popover="Ver Perfil"
                        triggers="mouseenter:mouseleave"
                        [routerLink]="[company.id]">
                        <i class="bi bi-building"></i> Perfil
                </button>
                <button type="button" class="btn btn-sm btn-outline-warning"
                        popover="Editar empresa"
                        triggers="mouseenter:mouseleave"
                        [routerLink]="[company.id, 'edit']">
                  <i class="bi bi-pencil-square"></i> Editar
                </button>
                <!-- <button type="button" class="btn btn-sm btn-outline-danger"
                        popover="Excluír empresa"
                        triggers="mouseenter:mouseleave"
                        (click)="delete()">
                  <i class="bi bi-x-lg"></i>
                </button> -->
                <button class="btn btn-sm btn-outline-danger" *ngIf="company.ativa==true" (click)="delete(company)">
                  <i class="bi bi-x-lg"></i>
                  Desativar
                </button>
                <button class="btn btn-sm btn-outline-success" *ngIf="company.ativa==false" (click)="ativar(company)">
                  <i class="bi bi-check-lg"></i>
                  Ativar
                </button>
              </div>
            </td>
            <td>{{company.id}}</td>
            <td>
              <a href="">{{company.razaoSocial}}</a>
            </td>
            <td>{{company.nomeFantasia}}</td>
            <td>{{company.email}}</td>
          </tr>
        </tbody>
        <tfoot>
          {{message}}
        </tfoot>
      </table>
    </div>
  </div>

  <div class="text-center pt-2">
    <pagination-controls
      (pageChange)="pag = $event"
      [responsive]="true"
      [autoHide]="true"
      previousLabel="Voltar"
      nextLabel="Avançar">
    </pagination-controls>
  </div>

</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-default" >Yes</button>
    <button type="button" class="btn btn-primary" >No</button>
  </div>
</ng-template>
