<app-navbar></app-navbar>

<div class="container">

  <div class="row">
    <div class="col mt-3">
      <div class="btn-group">
        <button class="btn btn-outline-secondary" routerLink="/companies">
          <i class="bi bi-arrow-left"></i> Voltar
        </button>
      </div>
    </div>
  </div>

  <section class="row">
    <h1 class="col-12 mb-3">Nova empresa</h1>
  </section>


  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-2 pt-2">
      <div class="form-group">
        <label for=""></label>
        <input class="form-control" placeholder="Pesquisar">
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-2 pt-2">
      <div class="form-group">
        <input class="form-control" placeholder="Pesquisar">
      </div>
    </div>
  </div>



  <!-- <div class="row">
    <div class="col">
      <div class="btn-group">
        <button class="btn btn-outline-success" routerLink="/companies">Salvar</button>
        <button class="btn btn-outline-danger" routerLink="/companies">Cancelar</button>
      </div>
    </div>
  </div> -->

</div>
