<app-navbar></app-navbar>

<div class="container">

  <div class="row">
    <div class="pt-2 row" *ngIf="true">
      <div class="col">
        <div class="btn-group">
          <button type="button" class="btn btn-outline-primary" (click)="return()">Voltar</button>
        </div>
      </div>
    </div>
  </div>

  <section class="pt-2 row">
    <h3 class="col-12 mb-3">{{titlePage}}</h3>
  </section>
  <form [formGroup]="companyForm">
    <div class="row g-3">

      <div class="col-md-6 col-lg-12">
        <div class="row">

          <!-- CNPJ -->
          <div class="col-sm-6 col-md-3 col-xl-3">
            <label for="lastName" class="form-label">CNPJ</label>
            <div class="input-group">
              <input type="number" class="form-control" id="cnpj" placeholder="00.000.000/0000-00" formControlName="cnpj">
              <button class="btn btn-outline-secondary" type="button">Validar</button>
            </div>
            <!-- validacao -->
            <div class="text-danger" *ngIf="cnpj?.errors">
              <div *ngIf="cnpj?.errors?.required && (cnpj?.dirty || cnpj?.touched)">Informe o CNPJ</div>
              <div *ngIf="cnpj?.errors?.minlength && (cnpj?.dirty || cnpj?.touched)">
                CNPJ deve conter no mínimo {{cnpj?.errors?.minlength.requiredLength}} caracteres
              </div>
              <div *ngIf="cnpj?.errors?.maxlength && (cnpj?.dirty || cnpj?.touched)">
                CNPJ deve conter no máximo {{cnpj?.errors?.maxlength.requiredLength}} caracteres</div>
            </div>
          </div>

          <!-- RAZAO SOCIAL -->
          <div class="col-sm-9">
            <label for="firstName" class="form-label">Razão Social</label>
            <input type="text" class="form-control" id="razaoSocial" value="" formControlName="razaoSocial">
            <!-- validacao -->
            <div class="text-danger" *ngIf="razaoSocial?.errors">
              <div *ngIf="razaoSocial?.errors?.required && (razaoSocial?.dirty || razaoSocial?.touched)">Informe a Razão
                Social</div>
              <div *ngIf="razaoSocial?.errors?.minlength && (razaoSocial?.dirty || razaoSocial?.touched)">
                A Razão Social deve conter no mínimo {{razaoSocial?.errors?.minlength.requiredLength}} caracteres
              </div>
              <div *ngIf="razaoSocial?.errors?.maxlength && (razaoSocial?.dirty || razaoSocial?.touched)">
                A Razão Social deve conter no máximo {{razaoSocial?.errors?.maxlength.requiredLength}} caracteres</div>
            </div>
          </div>

          <!-- NOME FANTASIA -->
          <div class="col-sm-6">
            <label for="firstName" class="form-label">Nome Fantasia</label>
            <input type="text" class="form-control" id="nomeFantasia" value="" formControlName="nomeFantasia">
            <!-- validacao -->
            <div class="text-danger" *ngIf="nomeFantasia?.errors">
              <div *ngIf="nomeFantasia?.errors?.required && (nomeFantasia?.dirty || nomeFantasia?.touched)">Informe o
                Nome Fantasia</div>
              <div *ngIf="nomeFantasia?.errors?.minlength && (nomeFantasia?.dirty || nomeFantasia?.touched)">
                Nome Fantasia deve conter no mínimo {{nomeFantasia?.errors?.minlength.requiredLength}} caracteres
              </div>
              <div *ngIf="nomeFantasia?.errors?.maxlength && (nomeFantasia?.dirty || nomeFantasia?.touched)">
                Nome Fantasia deve conter no máximo {{nomeFantasia?.errors?.maxlength.requiredLength}} caracteres</div>
            </div>
          </div>

          <!-- EMAIL-->
          <div class="col-sm-6">
            <label for="firstName" class="form-label">Email</label>
            <div class="input-group has-validation">
              <span class="input-group-text" id="inputGroupPrepend">@</span>
              <input type="text" class="form-control" id="email" aria-describedby="inputGroupPrepend"
                formControlName="email">
            </div>
            <!-- validacao -->
            <div class="text-danger" *ngIf="email?.errors">
              <div *ngIf="email?.errors?.required && (email?.dirty || email?.touched)">Informe o Email</div>
              <div *ngIf="email?.errors?.minlength && (email?.dirty || email?.touched)">
                Email deve conter no mínimo {{email?.errors?.minlength.requiredLength}} caracteres
              </div>
              <div *ngIf="email?.errors?.maxlength && (email?.dirty || email?.touched)">
                Email deve conter no máximo {{email?.errors?.maxlength.requiredLength}} caracteres</div>
            </div>
          </div>

          <!-- NICKNAME -->
          <div class="col-sm-6">
            <label for="firstName" class="form-label">Nickname</label>
            <div class="input-group has-validation">
              <!-- <span class="input-group-text" id="inputGroupPrepend">@</span> -->
              <input type="text" class="form-control" id="nickname" aria-describedby="inputGroupPrepend"
                formControlName="nickname">
            </div>
            <!-- validacao -->
            <div class="text-danger" *ngIf="nickname?.errors">
              <div *ngIf="nickname?.errors?.required && (nickname?.dirty || nickname?.touched)">
                Informe um Nickname para esta empresa</div>
              <div *ngIf="nickname?.errors?.minlength && (nickname?.dirty || nickname?.touched)">
                O Nickname deve conter no mínimo {{nickname?.errors?.minlength.requiredLength}} caracteres
              </div>
              <div *ngIf="nickname?.errors?.maxlength && (nickname?.dirty || email?.touched)">
                O Nickname deve conter no máximo {{nickname?.errors?.maxlength.requiredLength}} caracteres</div>
            </div>
          </div>

        </div>
      </div>

    </div>
    <!-- <hr> -->

    <!-- <div class="pt-2 row" *ngIf="true">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="btn-group">
              <button type="button" class="btn btn-outline-primary">Visualizar Setores</button>
              <button type="button" class="btn btn-outline-primary">Novo Setor</button>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div class="row pt-2">
      <div class="col">
        <div class="card">
          <div class="card-header">
            Setores
          </div>
          <div class="card-body">

          </div>
        </div>
      </div>
    </div> -->

    <!-- <div class="row">
      <h5>Endereço</h5>

      <div class="col-md-3 col-lg-3">
        <label for="lastName" class="form-label">CEP</label>
        <div class="input-group">
          <input type="text" class="form-control" id="lastName" placeholder="88865-000" value="" required="">
          <button class="btn btn-outline-secondary" type="button">Buscar</button>
        </div>
      </div>

      <div class="pt-2 col-md-6 col-lg-12">

        <div class="row">

          <div class="col-sm-4">
            <label for="firstName" class="form-label">País</label>
            <input type="text" class="form-control" id="firstName" placeholder="BRASIL" value="" required="">
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>

          <div class="col-sm-4">
            <label for="firstName" class="form-label">Estado</label>
            <input type="text" class="form-control" id="firstName" placeholder="SANTA CATARINA" value="" required="">
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>

          <div class="col-sm-4">
            <label for="firstName" class="form-label">Cidade</label>
            <input type="text" class="form-control" id="firstName" placeholder="BLUMENAU" value="" required="">
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>


          <div class="col-sm-12">
            <label for="firstName" class="form-label">Logradouro</label>
            <input type="text" class="form-control" id="firstName" placeholder="404" value="" required="">
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>

          <div class="col-sm-1">
            <label for="firstName" class="form-label">Número</label>
            <input type="text" class="form-control" id="firstName" placeholder="404" value="" required="">
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>

          <div class="col-sm-5">
            <label for="firstName" class="form-label">Complemento</label>
            <input type="text" class="form-control" id="firstName" placeholder="SALA 02" value="" required="">
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>

          <div class="col-sm-6">
            <label for="firstName" class="form-label">Bairro</label>
            <input type="text" class="form-control" id="firstName" placeholder="CENTRO" value="" required="">
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>

        </div>
      </div>
    </div> -->

    <div class="row">
      <div class="pt-2 row" *ngIf="true">
        <div class="col">
          <div class="btn-group">
            <button type="button" class="btn btn-outline-primary" (click)="save()">Salvar</button>
            <button type="button" class="btn btn-outline-primary">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>
