<!-- <app-navbar titlePage="Login"></app-navbar>

<div class="p-5">

  <h5 class="text-center">WN SISTEMAS LTDA</h5>

  <div class="text-center">
    <main class="form-signin">
      <form>
        <h1 class="h3 mb-3 fw-normal">Entrar</h1>

        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Senha</label>
        </div>

        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Lembrar-me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" >Login</button>
        <p class="mt-5 mb-3 text-muted">2021 © WN Software</p>
      </form>
    </main>

  </div>

</div>
 -->

<div class="bg-dark text-secondary ">

  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">

      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">WN Tickets</h1>
        <p class="col-lg-10 fs-4">
          Bem vindo ao WNTickets. Um sistema para gerenciamento de bugs de software e solicitação de chamados de TI.
        </p>

        <br>
        <br>
        <div class="text">
          <h4>2021 © Loglabs Software Ltda.</h4>
        </div>
      </div>

      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-light">

          <h1 class="h3 mb-3 fw-normal">Entrar</h1>

          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email</label>
          </div>

          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Senha</label>
          </div>

          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Lembrar-me
            </label>
          </div>

          <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>
          <hr class="my-4">
          <!-- <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small> -->
          <small class="text-muted">Não tem uma conta? </small><a href="#">Crie uma!</a>
          <br>
          <small class="text-muted">Esqueceu a senha? </small><a href="#">Recuperar minha conta!</a>
        </form>
      </div>
    </div>
  </div>

</div>


