<div class="sticky-top ">
  <app-navbar [menus]="false"></app-navbar>
</div>

<div class="container">

  <div class="col-md-10 mx-auto col-lg-5 pt-5">
    <form class="p-4 p-md-5 border rounded-3 bg-light" >

      <h1 class="h3 mb-3 fw-normal">Bem vindo!</h1>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="usuario"  placeholder="name@example.com">
        <label for="floatingInput">Usuário</label>
      </div>

      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="senha" placeholder="Password">
        <label for="floatingPassword">Senha</label>
      </div>

      <button class="w-100 btn btn-lg btn-primary">Entrar</button>
      <hr class="my-4">

      <small class="text-muted">Não tem uma conta? </small><a routerLink="/auth/register">Crie uma!</a>
      <br>
      <small class="text-muted">Esqueceu a senha? </small><a routerLink="/auth/recover">Recuperar minha conta!</a>
      <br>
      <small class="text-muted">Ativar usuário? </small><a routerLink="/auth/activate">Ativar conta de usuário!</a>
      
    </form>
  </div>
</div>