<div class="container">
    <h3>Perfis de usuários (Roles)</h3>

    <!-- BOTOES DE ACOES -->
    <div class="row" *ngIf="true">
      <div class="col-12">
        <div class="btn-group">
          <button type="button" class="btn btn-outline-primary" (click)="voltar()">
            <i class="bi bi-arrow-return-left"></i> Voltar
          </button>
        </div>
      </div>
    </div>

    <!-- GRID / TABELA -->
    <div class="row mt-2">
        <div class="col-12">
          <div class="columns">
            <div class="column col-12">
              <ngx-table [configuration]="configuration" [data]="roles" [columns]="columns"> </ngx-table>
            </div>
          </div>
          <ng-template #actionTpl let-row let-rowIndex="rowIndex">
            <div class="btn-group">
              <div class="btn-group">
                <!-- <button class="btn btn-sm btn-outline-danger" type="button">Excluir</button> -->
                <button class="btn btn-sm btn-outline-primary" type="button">Ver Usuários</button>
                <button class="btn btn-sm btn-outline-primary" type="button">Adicionar Usuários</button>
              </div>
            </div>
          </ng-template>
        </div>
      </div>

</div>