<div class="container">

    <!-- AVISOS -->
    <div class="row pt-2" *ngIf="boolAviso">
      <app-alert [mensagem]="'Página em Desenvolvimento'" [color]="'alert-danger'"></app-alert>
    </div>

    <!-- NOTIFICACOES DO SERVIDOR -->
    <div class="row mt-2" *ngIf="erros?.length">
      <div class="alert alert-danger" role="alert">
        <h5>{{ message }}</h5>
        <ul *ngFor="let e of erros">
          <li><strong>{{ e.key }}</strong> - {{ e.message }}</li>
        </ul>
      </div>
    </div>

    <div class="row" *ngIf="boolTitulo">
      <h3>{{ tituloPagina }}</h3>
    </div>

  <div class="row g-5">

    <div class="col-md-7 col-lg-8">
      <form [formGroup]="ticketForm">
        <div class="row g-3">

          <!-- ASSUNTO -->
          <div class="col-sm-12">
            <label class="form-label">Assunto</label>
            <input type="text" class="form-control" formControlName="assunto" placeholder="Assunto"
              value="" required="" readonly>
          </div>

          <!-- DESCRICAO DO PROBLEMA -->
          <div class="col-12">
            <label class="form-label">Descrição</label>
            <div class="input-group">
              <textarea type="text" class="form-control" formControlName="descricao" placeholder="Descrição do problema"
                value="" required=""></textarea>
            </div>
          </div>

          <!-- DATA ABERTURA -->
          <div class="col-sm-3">
            <label class="form-label">Data abertura</label>
            <input type="text" class="form-control" formControlName="dataAbertura" placeholder="09/12/2021"
              value="" required="" readonly>
          </div>

          <!-- CRIADOR DO TICKET -->
          <div class="col-sm-3">
            <label class="form-label">Criado por</label>
            <input type="text" class="form-control" formControlName="criador" placeholder="Criador"
              value="" required="" readonly>
          </div>

          <!-- STATUS -->
          <div class="col-sm-3">
            <label for="status" class="form-label">Status</label>
            <select class="form-select campo-obrigatorio" formControlName="status" required="">
              <option value="Novo">Novo</option>
              <option value="Pendente">Pendente</option>
              <option value="EmAtendimento">EmAtendimento</option>
              <option value="Finalizado">Finalizado</option>
              <option value="Cancelado">Cancelado</option>
              <option value="Fechado">Fechado</option>
              <option value="Reaberto">Reaberto</option>
            </select>
          </div>

          <!-- OPERADOR DO TICKET -->
          <div class="col-sm-3">
            <label class="form-label">Operado por</label>
            <input type="text" class="form-control" formControlName="operador" placeholder="Operador"
              value="" required="" readonly>
          </div>

          <!-- PRIORIDADE -->
          <div class="col-sm-3">
            <label for="prioridade" class="form-label">Prioridade</label>
            <select class="form-select campo-obrigatorio" formControlName="prioridade" required="">
              <option value="Baixa">Baixa</option>
              <option value="Normal">Normal</option>
              <option value="Alta">Alta</option>
              <option value="Urgente">Urgente</option>
            </select>
          </div>


          <!-- SETOR -->
          <div class="col-sm-5">
            <label>Laboratório<!-- <span class="text-danger">*</span> --></label>
            <select class="form-select campo-obrigatorio" formControlName="setor" placeholder="Setor"
              required="">
              <option *ngFor="let setor of setores" [value]="setor.id">{{ setor.nome }}</option>
            </select>
          </div>

          <!-- DATA FECHAMENTO -->
          <div class="col-sm-3">
            <label class="form-label">Data fechamento</label>
            <input type="text" class="form-control" formControlName="dataFechamento" readonly>
          </div>

          <!-- SOLUÇÃO DO PROBLEMA -->
          <div class="col-sm-12">
            <label class="form-label">Solução aplicada</label>
            <input type="text" class="form-control" formControlName="solucao" placeholder="Solução aplicada"
              value="" required="">
          </div>

        </div>
        <hr class="my-4">
      </form>

      <div class="row mt-2">
        <div class="col">
          <div class="btn-group">
            <button type="button" class="btn btn-outline-danger" [routerLink]="['/ticket']">Cancelar</button>
            <button type="button" class="btn btn-outline-primary"
              (click)="salvar()">Salvar</button>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-5 col-lg-4 order-md-last">
      <ul class="list-group mb-3">
        <li class="list-group-item">
          <div>
            <button class="w-100 btn btn-outline-primary btn-lg" type="submit" (click)="newTicket()">Novo Chamado</button>
          </div>
        </li>
        <li class="list-group-item">
          <div>
            <button class="w-100 btn btn-outline-secondary btn-lg" type="submit" (click)="anexo(ticketId)">Anexos</button>
          </div>
        </li>
        <li class="list-group-item">
          <div>
            <button type="button" class="w-100 btn btn-outline-danger btn-lg" data-bs-toggle="modal" data-bs-target="#staticBackdrop_1">
              Cancelar Chamado
            </button>
          </div>
        </li>

        <li class="list-group-item">
          <div>
            <button type="button" class="w-100 btn btn-outline-success btn-lg" data-bs-toggle="modal" data-bs-target="#staticBackdrop_2">
              Finalizar Chamado
            </button>
          </div>
        </li>

      </ul>
    </div>

      <!-- Modal Cancelar -->
      <div class="modal fade" id="staticBackdrop_1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Cancelar o Ticket</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <label>Motivo</label>
              <input type="text" class="form-control" placeholder="Motivo"> <!-- TRATAR INFORMAÇÃO DIGITADA -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Fechar</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" type="submit" (click)="cancelarTickets.fire()">Cancelar Ticket</button>
            </div>

            <swal
                #cancelarTickets 
                title="Tem certeza que deseja cancelar o ticket?"
                text="Esta ação não poderá ser desfeita"
                icon="question"
                [showCancelButton]="true"
                [focusCancel]="true"
                (confirm)="cancelarTicket()">
            </swal>

          </div>
        </div>
      </div>

      <!-- Modal Finalizar -->
      <div class="modal fade" id="staticBackdrop_2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Finalizar o Ticket</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <label>Solução</label>
              <input type="text" class="form-control" placeholder="Solução"> <!-- TRATAR INFORMAÇÃO DIGITADA -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" type="submit" (click)="finalizarTickets.fire()">Finalizar Ticket</button>
            </div>

            <swal
              #finalizarTickets
              title="Tem certeza que deseja finalizar o ticket?"
              text="Esta ação não poderá ser desfeita"
              icon="question"
              [showCancelButton]="true"
              [focusCancel]="true"
              (confirm)="finalizarTicket()">
            </swal>

          </div>
        </div>
      </div>

  </div>
</div>
