<div class="container">

  <div class="row">
    <h3>{{ tituloPagina }}</h3>
  </div>

  <form [formGroup]="ticketForm">

  <div class="row mt-2">
    <p-tabView>

      <p-tabPanel header="Principal">

        <div class="row mt-2">
          <div class="col-sm-4">
            <label>Laboratório</label>
              <select class="form-select" formControlName="setor">
                <option *ngFor="let setor of setores" [value]="setor.id" [disabled]="bloquearEdicao">{{ setor.nome }}</option>
              </select>
          </div>

          <div class="col-sm-4">
            <label>Responsável</label>
            <select class="form-select" formControlName="operador">
              <option *ngFor="let operador of operadores" [value]="operador.id" [disabled]="bloquearEdicao">{{ operador.nome }}</option>
            </select>
          </div>

          <div class="col-sm-4">
            <label>Prioridade</label>
            <select class="form-select" formControlName="prioridade">
              <option [value]="0" [disabled]="bloquearEdicao">Baixa</option>
              <option [value]="1" [disabled]="bloquearEdicao">Normal</option>
              <option [value]="2" [disabled]="bloquearEdicao">Alta</option>
              <option [value]="3" [disabled]="bloquearEdicao">Urgente</option>
            </select>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-sm-10">
            <label>Assunto</label>
            <input type="text" class="form-control" formControlName="assunto" readonly="bloquearEdicao">
          </div>

          
          <div class="col-sm-2">
            <label>Status</label>
            <fieldset disabled>
              <input type="text" class="form-control" formControlName="status">
            </fieldset>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-sm-12">
            <label for="descricao" class="col-sm-2 col-form-label">Descrição</label>
            <textarea type="text" class="form-control" rows="5" id="descricao" formControlName="descricao" readonly="bloquearEdicao"></textarea>
          </div>
        </div>
        <fieldset disabled>
          <div class="row mt-2">
            <div class="col-sm-4 mb-3">
              <label for="disabledTextInput" class="form-label">Criador</label>
              <input type="text" id="disabledTextInput" class="form-control" formControlName="criador">
            </div>
  
            <div class="col-sm-2 mb-3">
              <label for="disabledTextInput" class="form-label">Data de abertura</label>
              <input type="text" id="disabledTextInput" class="form-control" formControlName="dtAbertura">
            </div>

            <div class="col-sm-6 mb-3">
              <label for="disabledTextInput" class="form-label">Equipamento</label>
              <input type="text" id="disabledTextInput" class="form-control" formControlName="equipamento">
            </div>
          </div>
        </fieldset>
   
      </p-tabPanel>

      <p-tabPanel header="Solução">

          <div class="row mt-2">
            <div class="col-sm-12">
              <label for="descricao" class="col-sm-2 col-form-label">Solução Aplicada</label>
              <textarea type="text" class="form-control" rows="5" id="descricao" formControlName="solucao"></textarea>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-sm-4 mb-3">
              <label for="disabledTextInput" class="form-label">Finalizado por</label>
              <input type="text" id="disabledTextInput" class="form-control" formControlName="criador">
            </div>
          </div>
      </p-tabPanel>

      <p-tabPanel header="Anexos">
        <div class="row mt-2">
          <div class="col-sm-4">
            <button class="btn btn-primary">Ver Anexo</button>
          </div>
        </div>
      </p-tabPanel>

      <div class="mt-2 text-end">
        <div class="btn-group">
          <button class="btn btn-sm btn-outline-primary" type="button" (click)="salvar()" [disabled]="!ticketForm.valid">
            <i class="bi bi-check"></i>
            Salvar
          </button>
          <button class="btn btn-sm btn-outline-danger" type="button" (click)="cancelar()">
            <i class="bi bi-x"></i>
            Cancelar
          </button>
          <button class="btn btn-sm btn-outline-success" type="button" (click)="finalizar()">
            <i class="bi bi-check-all"></i>
            Finalizar
          </button>
        </div>
      </div>

    </p-tabView>
  </div>

  </form>
  
</div>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>

<p-dialog header="Motivo de cancelamento" [(visible)]="display" [style]="{width: '50vw'}">
    <textarea type="text" class="form-control" rows="5" ></textarea>
  <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="display=false" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>