<div class="container">
    <h3>Controle de Usuários</h3>

    <!-- BOTOES DE ACOES -->
    <div class="row">
        <div class="col-12">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-primary" routerLink="/new">Novo Usuário</button>
                <button type="button" class="btn btn-outline-primary" routerLink="/users/list">Listar usuários</button>
                <button type="button" class="btn btn-outline-primary" routerLink="/users/roles">Tipos de usuários</button>
            </div>
        </div>
    </div>



</div>