<div class="sticky-top ">
  <app-navbar></app-navbar>
</div>


<div class="container">
  <div class="row pt-2" *ngIf="false">
    <app-alert-nada-exibir></app-alert-nada-exibir>
  </div>
</div>

<ng-template #createNewSector>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Novo Setor</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-sector-form [navbarVisible]="false" [titleFormVisible]="false"></app-sector-form>
  </div>
</ng-template>


<div class="container">

  <div class="row mt-2">
    <div class="col-12">
      <h2>Setores</h2>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-xs-6 col-sm-12 col-lg-6">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Pesquisar por" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">
          <i class="bi bi-search"></i> Procurar
        </button>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="true">
    <div class="col-xs-6 col-sm-12 col-lg-6">
      <div class="btn-group">
         <button type="button" class="btn btn-outline-primary" [routerLink]="['new']">
          <i class="bi bi-plus-square"></i> Adicionar
        </button>
         <button type="button" class="btn btn-outline-primary" [routerLink]="['new']">
          <i class="bi bi-arrow-clockwise"></i> Atualizar
        </button>
         <button type="button" class="btn btn-outline-primary" [routerLink]="['new']">
          <i class="bi bi-check2-square"></i> Selecionar
        </button>
         <button type="button" class="btn btn-outline-primary" [routerLink]="['new']">
          <i class="bi bi-printer"></i> Imprimir
        </button>
        <button type="button" class="btn btn-outline-primary" (click)="openModal(createNewSector)">
          <i class="bi bi-filter"></i> Filtrar
        </button>
       </div>
    </div>
  </div>

  <div class="colq mt-2">
    <div class="column col-12">
      <ngx-table
        [data]="sectors"
        [configuration]="configuration"
        [columns]="columns">


        <ng-template let-row>
          <td>
            <div class="font-small">{{ row.id }}</div>
          </td>
          <td>
            <span class="font-small">{{ row.nome }}</span>
          </td>
          <td>
            <div class="btn-group">
              <button class="btn btn-outline-primary btn-sm" (click)="goCategories(row.id)">
                <i class="bi bi-search"></i> Categorias
              </button>
              <button class="btn btn-outline-warning btn-sm">
                <i class="bi bi-pencil"></i> Editar
              </button>
              <button class="btn btn-outline-danger btn-sm">
                <i class="bi bi-trash"></i> Remover
              </button>
            </div>
          </td>
        </ng-template>


      </ngx-table>
    </div>

  </div>

</div>

