<div class="cadastro-page bg-light" *ngIf="true">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <!-- <h3 class="mb-3">Login Now</h3> -->
        <div class="bg-white shadow rounded">

          <div class="row">
            <div class="col-md-12 pe-0">
              <div class="form-left h-100 py-5 px-5">

                <!-- NOTIFICACOES DO SERVIDOR -->
                <div class="alert alert-danger" *ngIf="cadastroUsuarioResponse?.erros?.length">
                  <h5>{{ message }}</h5>
                  <ul *ngFor="let e of cadastroUsuarioResponse?.erros">
                    <li>{{ e }}</li>
                  </ul>
                </div>

                <div class="row">
                  <h3>Novo usuário</h3>
                </div>

                <form [formGroup]="userForm">
                  <!-- EMAIL -->
                  <div class="row">
                    <div class="form-group">
                      <label for="Email">E-mail</label>
                      <input placeholder="Ex: email@email.com" autocomplete="false" class="form-control" type="email"
                        id="email" formControlName="email" required>
                    </div>
                  </div>

                  <!-- NOME -->
                  <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="form-group">
                        <label for="Nome">Nome</label>
                        <input placeholder="Nome" autocomplete="off" class="form-control" type="text" id="nome"
                          formControlName="nome">
                      </div>
                    </div>


                    <!-- TELEFONE -->
                    <!-- <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="form-group">
                        <label for="telefone">Telefone</label>
                        <input placeholder="Telefone" mask="(00) 0 0000-0000 || (00) 0000-0000" autocomplete="off" class="form-control" type="text" id="telefone"
                          formControlName="telefone">
                      </div>
                    </div> -->
                  </div>

                  <!-- SENHA -->
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label for="Password">Senha</label>
                        <input autocomplete="off" class="form-control" type="password" id="senha"
                          formControlName="senha">
            
                        <!-- VALIDACAO -->
                        <div class="text-danger" *ngIf="senha?.errors">
                          <div *ngIf="senha?.errors?.pattern && (senha?.dirty || senha?.touched)">Senha deve possuir no mínimo 6 e no máximo 50 caracteres, incluindo pelo menos 1 número, 1 letra maiúscula, 1 letra minúscula e 1 caracter especial!</div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- CONFIRMACAO DE SENHA -->
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label for="ConfirmPassword">Confirme a Senha</label>
                        <input autocomplete="off" class="form-control" type="password" id="confirmarSenha"
                          formControlName="confirmarSenha">
  
                        <!-- VALIDACAO -->
                        <div class="text-danger" *ngIf="confirmarSenha?.errors">
                          <div *ngIf="confirmarSenha?.errors?.equalsTo">Senha não é igual</div>
                        </div>
                      </div>

                    </div>
                  </div>

                  <hr>

                  <div class="row">
                    <div class="d-grid gap-2">
                      <button class="btn btn-primary" [disabled]="!userForm.valid" (click)="salvar()">Confirmar</button>
                    <button class="btn btn-outline-secondary" type="button" [routerLink]="['/login']">Cancelar</button>
                    </div>
                  </div>

                </form>

              </div>
            </div>
          </div>
        </div>
        <p class="text-end text-secondary mt-3">v1.0 BETA</p>
      </div>
    </div>
  </div>
</div>