<div class="cadastro-page bg-light" *ngIf="true">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <!-- <h3 class="mb-3">Login Now</h3> -->
        <div class="bg-white shadow rounded">

          <div class="row">
            <div class="col-md-12 pe-0">
              <div class="form-left h-100 py-5 px-5">

                <!-- NOTIFICACOES DO SERVIDOR -->
                <div class="alert alert-danger" *ngIf="cadastroUsuarioResponse?.erros?.length">
                  <h5>{{ message }}</h5>
                  <ul *ngFor="let e of cadastroUsuarioResponse?.erros">
                    <li>{{ e }}</li>
                  </ul>
                </div>

                <div class="row">
                  <h3>Novo usuário</h3>
                </div>

                <form [formGroup]="userForm">
                  <!-- EMAIL -->
                  <div class="row">
                    <div class="form-group">
                      <label for="Email">E-mail</label>
                      <input placeholder="Ex: email@email.com" autocomplete="false" class="form-control" type="email"
                        id="email" formControlName="email" required>

                      <!-- VALIDACAO -->
                      <ul class="text-danger" *ngIf="email?.errors">
                        <li *ngIf="email?.errors?.required && (email?.dirty || email?.touched)">Informe o email</li>
                        <li *ngIf="email?.errors?.email && (email?.dirty || email?.touched)">O email informado é
                          inválido!</li>
                      </ul>
                    </div>
                  </div>

                  <!-- NOME -->
                  <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="form-group">
                        <label for="Nome">Nome de Usuário</label>
                        <input placeholder="Nome" autocomplete="off" class="form-control" type="text" id="nome"
                          formControlName="nome">

                        <!-- VALIDACAO -->
                        <ul class="text-danger" *ngIf="nome?.errors">
                          <li *ngIf="nome?.errors?.required && (nome?.dirty || nome?.touched)">Informe o nome</li>
                        </ul>

                      </div>
                    </div>


                    <!-- TELEFONE -->
                    <!-- <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="form-group">
                        <label for="telefone">Telefone</label>
                        <input placeholder="Telefone" mask="(00) 0 0000-0000 || (00) 0000-0000" autocomplete="off" class="form-control" type="text" id="telefone"
                          formControlName="telefone">
                      </div>
                    </div> -->
                  </div>

                  <!-- SENHA -->
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label for="Password">Senha</label>
                        <input autocomplete="off" class="form-control" type="password" id="senha"
                          formControlName="senha">

                        <!-- VALIDACAO -->
                        <div class="text-danger" *ngIf="senha?.errors">
                          <ul *ngIf="senha?.errors?.pattern && (senha?.dirty || senha?.touched)">
                            <li>Senha deve ter entre 6 e 50 caracteres</li>
                            <li>Incluír pelo menos 1 número</li>
                            <li>1 letra maiúscula</li>
                            <li>1 letra minúscula</li>
                            <li>1 caracter especial</li>
                          </ul>
                        </div>

                      </div>
                    </div>
                  </div>

                  <!-- CONFIRMACAO DE SENHA -->
                  <div class="row mt-2">
                    <div class="col-12">
                      <div class="form-group">
                        <label for="ConfirmPassword">Confirme a Senha</label>
                        <input autocomplete="off" class="form-control" type="password" id="confirmarSenha"
                          formControlName="confirmarSenha">

                        <!-- VALIDACAO -->
                        <ul class="text-danger" *ngIf="confirmarSenha?.errors">
                          <li *ngIf="confirmarSenha?.errors?.equalsTo && (confirmarSenha?.dirty || confirmarSenha?.touched)">Senha não é igual</li>
                        </ul>
                      </div>

                    </div>
                  </div>

                  <hr>

                  <div class="row">
                    <div class="d-grid gap-2">
                      <button class="btn btn-primary" [disabled]="!userForm.valid" (click)="salvar()">Confirmar</button>
                      <button class="btn btn-outline-secondary" type="button" (click)="cancelar()">Cancelar</button>
                    </div>
                  </div>

                </form>

              </div>
            </div>
          </div>
        </div>
        <p class="text-end text-secondary mt-3">v1.0 BETA</p>
      </div>
    </div>
  </div>
</div>