<div class="cadastro-page bg-light" *ngIf="true">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <!-- <h3 class="mb-3">Login Now</h3> -->
        <div class="bg-white shadow rounded">
          
          <div class="row">
            <div class="col-md-12 pe-0">
              <div class="form-left h-100 py-5 px-5">

                <app-form-register-user></app-form-register-user>

              </div>
            </div>
          </div>
        </div>
        <p class="text-end text-secondary mt-3">v1.0 BETA</p>
      </div>
    </div>
  </div>
</div>